<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div _ngcontent-c4=""
                         class="col-md-12">
                        <div _ngcontent-c4=""
                             class="card">
                            <div _ngcontent-c4=""
                                 class="header"><h4 _ngcontent-c4=""
                                                    class="title">Pagos</h4>
                                <p class="category">Historial de pagos</p></div>
                            <div class="content table-responsive table-full-width">
                                <table _ngcontent-c4=""
                                       class="table table-hover table-striped">
                                    <thead _ngcontent-c4="">
                                    <tr _ngcontent-c4=""><!---->
                                        <th _ngcontent-c4="">ID</th>
                                        <th _ngcontent-c4="">Nombre</th>
                                        <th _ngcontent-c4="">Apellido</th>
                                        <th _ngcontent-c4="">Dirección</th>
                                        <th _ngcontent-c4="">Mes</th>
                                        <th _ngcontent-c4="">Monto</th>
                                    </tr>
                                    </thead>
                                    <tbody _ngcontent-c4=""><!---->
                                    <tr _ngcontent-c4=""><!---->
                                        <td _ngcontent-c4="">1</td>
                                        <td _ngcontent-c4="">Lina</td>
                                        <td _ngcontent-c4="">Marulanda</td>
                                        <td _ngcontent-c4="">Apostar Lago</td>
                                        <td _ngcontent-c4="">Julio</td>
                                        <td _ngcontent-c4="">$125,800</td>
                                    </tr>
                                    <tr _ngcontent-c4=""><!---->
                                        <td _ngcontent-c4="">2</td>
                                        <td _ngcontent-c4="">Carlos</td>
                                        <td _ngcontent-c4="">Jímenez</td>
                                        <td _ngcontent-c4="">En línea</td>
                                        <td _ngcontent-c4="">Agosto</td>
                                        <td _ngcontent-c4="">$112,600</td>
                                    </tr>
                                    <tr _ngcontent-c4=""><!---->
                                        <td _ngcontent-c4="">3</td>
                                        <td _ngcontent-c4="">Carlos</td>
                                        <td _ngcontent-c4="">Jímenez</td>
                                        <td _ngcontent-c4="">Apostar Cll 25</td>
                                        <td _ngcontent-c4="">Septiembre</td>
                                        <td _ngcontent-c4="">$80,600</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content table-responsive table-full-width">
                                <table _ngcontent-c4=""
                                       class="table table-hover table-striped">
                                    <thead>
                                    <tr _ngcontent-c4=""><!---->
                                        <th _ngcontent-c4="">ID</th>
                                        <th _ngcontent-c4="">Mes</th>
                                        <th _ngcontent-c4="">Monto</th>
                                        <th _ngcontent-c4="">Pagar</th>
                                    </tr>
                                    </thead>
                                    <tbody _ngcontent-c4=""><!---->
                                    <tr _ngcontent-c4=""><!---->
                                        <td _ngcontent-c4="">4</td>
                                        <td _ngcontent-c4="">Octubre</td>
                                        <td _ngcontent-c4="">$115,800</td>
                                        <td _ngcontent-c4="">
                                            <button class="btn btn-danger btn-fill">Pago Deuda</button>
                                        </td>
                                    </tr>
                                    <tr _ngcontent-c4=""><!---->
                                        <td _ngcontent-c4="">5</td>
                                        <td _ngcontent-c4="">Noviembre</td>
                                        <td _ngcontent-c4="">$166,320</td>
                                        <td _ngcontent-c4="">
                                            <button class="btn btn-primary btn-fill">Pago Mes</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
