<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        Aguas y Aguas de Pereira
                    </a>
                </li>
                <li>
                    <a href="#">
                        ¿Qué es AAP en control?
                    </a>
                </li>
                <li>
                    <a href="#">
                        Cóntactanos
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="https://www.linkedin.com/in/davidnon/">DavidNoN</a>
        </p>
    </div>
</footer>
